#menu-bar1 {
  width: 65%;
  margin: 0px 0px 0px 225px;
  padding: 6px 6px 1px 12px;
  height: 34px;
  line-height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #666666;
  background: linear-gradient(top,  #A9A9A9,  #7A7A7A);
  background: -ms-linear-gradient(top,  #A9A9A9,  #7A7A7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#7A7A7A));
  background: -moz-linear-gradient(top,  #A9A9A9,  #7A7A7A);
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar1 li {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar1 a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar1 .active a, #menu-bar1 li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #BDBDBD);
  background: -ms-linear-gradient(top,  #EBEBEB,  #BDBDBD);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#BDBDBD));
  background: -moz-linear-gradient(top,  #EBEBEB,  #BDBDBD);
  color: #636363;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar1 ul li:hover a, #menu-bar1 li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar1 ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #019EDB) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #019EDB) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#019EDB)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #019EDB) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 1px 1px 5px #FFFFFF;
}
#menu-bar1 ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 34px;
  left: 0;
  border: outset 4px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar1 li:hover > ul {
  display: block;
}
#menu-bar1 ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar1 ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:oblique;
  font-family:'comic sans ms';
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar1 ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar1 ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar1:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar1 {
  display: inline-block;
}
  html[xmlns] #menu-bar1 {
  display: block;
}
* html #menu-bar1 {
  height: 1%;
}